{% block content %}
  <nav class="navbar navbar-expand-md ">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">Unnamed Houseplantr</a>
      {% if loggedIn %}
        <a href="/auth/{{ userId }}" class="nav-link text-light me-3">Hello {{ username }}
        </a>
      {% endif %}
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% if loggedIn %}
          <a href="/plants" class="nav-link text-light me-4">Browse Plants</a>
          <a href="/sale" class="nav-link text-light me-4">Browse Sales</a>
          <a href="/auth/logout" class="nav-link text-light me-4">Log Out</a>
        {% else %}
          <a href="/auth/signup" class="nav-link text-light me-4">Sign Up</a>
          <a href="/auth/login" class="nav-link text-light me-4">Sign In</a>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock %}