{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form method="POST">
      <fieldset>
        <legend>Create New Sale - {{ plantId.name }}</legend>
        <label class="form-label mt-4">Asking Price ($):</label>
        <input
          type="text"
          class="form-control"
          name="price"
          required>

        <label class="form-label mt-4">Height(cm):</label>
        <input
          type="text"
          class="form-control"
          name="height">
        <label class="form-label mt-4">Maturity?:</label><br>
        <input
          type="radio"
          id="cutting"
          name="age"
          value="Cutting">
        <label for="cutting">Cutting</label><br>
        <input
          type="radio"
          id="sapling"
          name="age"
          value="Sapling">
        <label for="sapling">Sapling</label><br>
        <input
          type="radio"
          id="seedling"
          name="age"
          value="Seedling">
        <label for="seedling">Seedling</label><br>
        <input
          type="radio"
          id="2years"
          name="age"
          value=">2 years">
        <label for="2years">>2 years</label><br>
        <input
          type="radio"
          id="mature-plant"
          name="age"
          value="Mature Plant">
        <label for="mature-plant">Mature Plant</label><br>
        <label class="form-label mt-4">Link to picture:</label>
        <input
          type="text"
          class="form-control"
          name="image">
      </fieldset>
      <input
        type="submit"
        class="btn btn-success mt-4"
        value="Post New Sale">
    </form>
  </div>
{% endblock %}